<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="index-header">
    <h1>Welcome to my Pantry</h1>
    <a href="/users/<%=user._id%>/foods/new">Add New Item</a>
    </div>
    <ul>
        <% if (pantry) { %>
            <% pantry.forEach((pantry)=>{ %>
                <div class="card-container">
                <a href="/users/<%= user._id %>/foods/<%= pantry._id %>" >
                    <li><%= pantry.name %></li>
                </a>
            </div>
        <% }) } else {  %>
                    <li>There are no items in this pantry.</li>
        <% } %>
    </ul>
</body>
</html>